*{
    margin : 0 auto ;
    /* 마진 0 auto가 중요함. */
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

#header{
    border: 1px black solid;
    height: 100px;
}
#logo{
    border: 1px blue solid;
}
#menu{
    border: 1px red solid
}
main{
    width: 1000px;
}
#main{
    margin-left: 40px;
    float: left;
    height: 400px;
    width: 600px;
    border: 1px green solid;
}
aside{
    float: right;
    height: 400px;
    width: 300px;
    border: 1px solid aqua;
}
footer{
    clear:both
}
